/* Hidden as start */
#Q7_title,
#Q7_grid-content-question,
#Q7_next-button {
    z-index: 49;
    opacity: 0;
}

#Q7_grid-content-question {
    display: grid;
    grid-template-areas:
        "question   question"
        "answer1    answer2"
        "answer3    answer4";
    grid-template-columns: 275px 275px;
    grid-template-rows: auto 1fr auto auto;
    position: absolute;
    width: 550px;
    height: 215px;
    gap: 15px;
    border: 2px gray;
    top: 90px;
    left: 125px;
    text-align: center;
}

#Q7_title {
    top: 70px;
    left: 310px;
    position: absolute;
    background-color: #72a9ec;
    text-align: center;
    width: 180px;
    height: 28px;
    padding-top: 10px;
    border-radius: 20px;
    color: #ffffff;
}

#Q7_question {
    grid-area: question;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #c0ccff;
    font-size: 15px;
}

/* correct is number 2*/
/* answer at location 3, move 2 to 3 */
#Q7_choice1 {
    grid-area: answer1;
    outline: none;
}

#Q7_choice2 {
    grid-area: answer3;
    outline: none;
}

#Q7_choice3 {
    grid-area: answer2;
    outline: none;
}

#Q7_choice4 {
    grid-area: answer4;
    outline: none;
}

/* Location of 4 checkbox answer */

#Q7_checkbox-1 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 175px;
    top: 215px;
    opacity: 0;
}

#Q7_checkbox-2 {

    position: absolute;
    width: 275px;
    height: 50px;
    left: 175px;
    top: 275px;
    opacity: 0;
}

#Q7_checkbox-3 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 460px;
    top: 215px;
    opacity: 0;
}

#Q7_checkbox-4 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 460px;
    top: 275px;
    opacity: 0;
}

/* Answer background animation */
#Q7_choice1,
#Q7_choice2,
#Q7_choice3,
#Q7_choice4 {
    position: relative;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #c0ccff;
    overflow: hidden;

}

#Q7_choice1::before,
#Q7_choice2::before,
#Q7_choice3::before,
#Q7_choice4::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #72a9ef;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

#Q7_checkbox-1:hover~#box>#Q7_grid-content-question>#Q7_choice1,
#Q7_checkbox-2:hover~#box>#Q7_grid-content-question>#Q7_choice2,
#Q7_checkbox-3:hover~#box>#Q7_grid-content-question>#Q7_choice3,
#Q7_checkbox-4:hover~#box>#Q7_grid-content-question>#Q7_choice4 {

    z-index: 85;
}

#Q7_checkbox-1:hover~#box>#Q7_grid-content-question>#Q7_choice1::before,
#Q7_checkbox-2:hover~#box>#Q7_grid-content-question>#Q7_choice2::before,
#Q7_checkbox-3:hover~#box>#Q7_grid-content-question>#Q7_choice3::before,
#Q7_checkbox-4:hover~#box>#Q7_grid-content-question>#Q7_choice4::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    transition: transform 0.45s ease-in-out;
}

/* Action when click answer*/
#Q7_checkbox-2:checked~#box>#Q7_grid-content-question>#Q7_choice2 {
    background-color: #2BDA8E;
    color: white;
}

#Q7_checkbox-1:checked~#box>#Q7_grid-content-question>#Q7_choice1,
#Q7_checkbox-3:checked~#box>#Q7_grid-content-question>#Q7_choice3,
#Q7_checkbox-4:checked~#box>#Q7_grid-content-question>#Q7_choice4 {
    background-color: #FF7276;
    color: white;
}

#Q7_lock {
    position: absolute;
    width: 100%;
    height: 125px;
    z-index: 49;
    top: 210px;
    left: 0px;
}

#Q7_checkbox-1:checked~#Q7_lock,
#Q7_checkbox-2:checked~#Q7_lock,
#Q7_checkbox-3:checked~#Q7_lock,
#Q7_checkbox-4:checked~#Q7_lock {
    z-index: 89;
}

#Q7_checkbox-2:checked {
    counter-increment: checkBox-counter;
}
/* next button and checkbox apperance */
#Q7_checkbox-next {
    position: absolute;
    top: 370px;
    left: 405px;
    width: 78px;
    height: 40px;
    opacity: 0;
    z-index: 49;
}

#Q7_checkbox-1:checked~#Q7_checkbox-next,
#Q7_checkbox-2:checked~#Q7_checkbox-next,
#Q7_checkbox-3:checked~#Q7_checkbox-next,
#Q7_checkbox-4:checked~#Q7_checkbox-next {
    animation: Q7_Checkbox 1.5s 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;

}

@keyframes Q7_Checkbox {
    100% {
        z-index: 86;
    }
}

#Q7_next-button {
    position: relative;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
    border: none;
    background: #72a9ef;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 #c0ccff, 0 6px 20px 0 #c0ccff;
    visibility: hidden;
    opacity: 0;
}

#Q7_checkbox-1:checked~#box>#Q7_next-button,
#Q7_checkbox-2:checked~#box>#Q7_next-button,
#Q7_checkbox-3:checked~#box>#Q7_next-button,
#Q7_checkbox-4:checked~#box>#Q7_next-button {
    animation: Q7_button 2s 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes Q7_button {
    0% {
        top: 300px;
        opacity: 0;
    }

    100% {
        top: 240px;
        opacity: 1;
        visibility: visible;
    }
}

#Q7_next-button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    padding: 10px 14px;
}

#Q7_checkbox-next:hover~#box>#Q7_next-button {
    background-color: #3880df;
    color: white;
}

/*************************************************************************************************/
/* When Next button click, transition for Question 8*/
#Q7_checkbox-next:checked~#box>#Q7_next-button,
#Q7_checkbox-next:checked~#box>#Q7_title,
#Q7_checkbox-next:checked~#box>#Q7_grid-content-question {
    display: none;
    top: 0;
    left: 0;
    height: 0px;
    width: 0px;
    z-index: 49;
    /* hiden current view */
}

#Q7_checkbox-next:checked~#Q7_lock {
    height: 250PX;
}

/**************************************************************/
/*  Question 8 Boder animation*/

#Q7_checkbox-next:checked~.min-cir {
    width: 90px;
    height: 90px;
    border-radius: 50px;
    left: 810px;
    top: 0px;
    background-image: linear-gradient(#F5F7F6, #5CA0F2);
    position: relative;
    animation: Q8_minCircle 5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes Q8_minCircle {
    0% {
        background-image: linear-gradient(#F5F7F6, #5CA0F2)d;
        left: 810px;
        top: 0;
    }

    100% {
        background-image: linear-gradient(#F5F7F6, #5CA0F2);
        left: 760px;
        top: 370px;
        border-radius: 100px;
        width: 180px;
        height: 180px;
    }
}

#Q7_checkbox-next:checked~.big-cir {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    left: -40px;
    top: 280px;
    background-image: linear-gradient(#F5F7F6, #5CA0F2);
    position: relative;
    animation: Q8_bigCircle 5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes Q8_bigCircle {
    0% {
        background-image: linear-gradient(#F5F7F6, #5CA0F2);
        left: -40px;
        top: 280px;
    }

    100% {
        background-image: linear-gradient(#F5F7F6, #5CA0F2);
        left: 0;
        top: -180px;
        width: 90px;
        height: 90px;
    }
}

/* Question 8 Start */

#Q7_checkbox-next:checked~#box>#Q8_grid-content-question {
    z-index: 90;
    opacity: 1;
}

#Q7_checkbox-next:checked~#box>#Q8_next-button {
    z-index: 90;
}

#Q7_checkbox-next:checked~#box>#Q8_title {
    z-index: 91;
    opacity: 1;
}

#Q7_checkbox-next:checked~#Q8_checkbox-1,
#Q7_checkbox-next:checked~#Q8_checkbox-2,
#Q7_checkbox-next:checked~#Q8_checkbox-3,
#Q7_checkbox-next:checked~#Q8_checkbox-4 {
    z-index: 91;

}