/* Hidden as start */
#Q10_title,
#Q10_grid-content-question,
#Q10_next-button,
#announce,
#Final_back{
    z-index: 49;
    opacity: 0;
}

#Q10_grid-content-question {
    display: grid;
    grid-template-areas:
        "question   question"
        "answer1    answer2"
        "answer3    answer4";
    grid-template-columns: 275px 275px;
    grid-template-rows: auto 1fr auto auto;
    position: absolute;
    width: 550px;
    height: 215px;
    gap: 15px;
    border: 2px gray;
    top: 90px;
    left: 125px;
    text-align: center;
}

#Q10_title {
    top: 70px;
    left: 310px;
    position: absolute;
    background-color: #72a9ec;
    text-align: center;
    width: 180px;
    height: 28px;
    padding-top: 10px;
    border-radius: 20px;
    color: #ffffff;
}

#Q10_question {
    grid-area: question;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #c0ccff;
    font-size: 15px;
}

/* correct is number 2*/
/* answer at location 3, move 2 to 3 */
#Q10_choice1 {
    grid-area: answer1;
    outline: none;
}

#Q10_choice2 {
    grid-area: answer3;
    outline: none;
}

#Q10_choice3 {
    grid-area: answer2;
    outline: none;
}

#Q10_choice4 {
    grid-area: answer4;
    outline: none;
}

/* Location of 4 checkbox answer */

#Q10_checkbox-1 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 175px;
    top: 215px;
    opacity: 0;
}

#Q10_checkbox-2 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 175px;
    top: 275px;
    opacity: 0;

}

#Q10_checkbox-3 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 460px;
    top: 215px;
    opacity: 0;
}

#Q10_checkbox-4 {
    position: absolute;
    width: 275px;
    height: 50px;
    left: 460px;
    top: 275px;
    opacity: 0;
}

/* Answer background animation */
#Q10_choice1,
#Q10_choice2,
#Q10_choice3,
#Q10_choice4 {
    position: relative;
    padding: 8px 16px;
    outline: none;
    border: 1px solid #c0ccff;
    overflow: hidden;

}

#Q10_choice1::before,
#Q10_choice2::before,
#Q10_choice3::before,
#Q10_choice4::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #72a9ef;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
}

#Q10_checkbox-1:hover~#box>#Q10_grid-content-question>#Q10_choice1,
#Q10_checkbox-2:hover~#box>#Q10_grid-content-question>#Q10_choice2,
#Q10_checkbox-3:hover~#box>#Q10_grid-content-question>#Q10_choice3,
#Q10_checkbox-4:hover~#box>#Q10_grid-content-question>#Q10_choice4 {

    z-index: 100;
}

#Q10_checkbox-1:hover~#box>#Q10_grid-content-question>#Q10_choice1::before,
#Q10_checkbox-2:hover~#box>#Q10_grid-content-question>#Q10_choice2::before,
#Q10_checkbox-3:hover~#box>#Q10_grid-content-question>#Q10_choice3::before,
#Q10_checkbox-4:hover~#box>#Q10_grid-content-question>#Q10_choice4::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
    transition: transform 0.45s ease-in-out;
}

/* Action when click answer*/
#Q10_checkbox-2:checked~#box>#Q10_grid-content-question>#Q10_choice2 {
    background-color: #2BDA8E;
    color: white;
}

#Q10_checkbox-1:checked~#box>#Q10_grid-content-question>#Q10_choice1,
#Q10_checkbox-3:checked~#box>#Q10_grid-content-question>#Q10_choice3,
#Q10_checkbox-4:checked~#box>#Q10_grid-content-question>#Q10_choice4 {
    background-color: #FF7276;
    color: white;
}

#Q10_lock {
    position: absolute;
    width: 100%;
    height: 125px;
    z-index: 49;
    top: 210px;
    left: 0px;
}

#Q10_checkbox-1:checked~#Q10_lock,
#Q10_checkbox-2:checked~#Q10_lock,
#Q10_checkbox-3:checked~#Q10_lock,
#Q10_checkbox-4:checked~#Q10_lock {
    z-index: 104;
}
#Q10_checkbox-2:checked {
    counter-increment: checkBox-counter;
}

/**************************************************************/
/* When Next button click, transition for End Game*/
/**************************************************************/
#win {
    color: #2BDA8E;
}
#text {
    color: gray;
}
#congrats {
    position: relative;
    top: -300px;
    opacity: 0;
}

#Q10_checkbox-1:checked~#box>#announce>#congrats,
#Q10_checkbox-2:checked~#box>#announce>#congrats,
#Q10_checkbox-3:checked~#box>#announce>#congrats,
#Q10_checkbox-4:checked~#box>#announce>#congrats{
    animation: congrat 2s 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

@keyframes congrat {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

#Q10_checkbox-1:checked~#box>#announce>#text:after,
#Q10_checkbox-2:checked~#box>#announce>#text:after,
#Q10_checkbox-3:checked~#box>#announce>#text:after,
#Q10_checkbox-4:checked~#box>#announce>#text:after{
    content: "You answered correctly " counter(checkBox-counter) " questions.";
}


#Q10_checkbox-1:checked~#box>#Q10_title,
#Q10_checkbox-2:checked~#box>#Q10_title,
#Q10_checkbox-3:checked~#box>#Q10_title,
#Q10_checkbox-4:checked~#box>#Q10_title,
#Q10_checkbox-1:checked~#box>#Q10_grid-content-question,
#Q10_checkbox-2:checked~#box>#Q10_grid-content-question,
#Q10_checkbox-3:checked~#box>#Q10_grid-content-question,
#Q10_checkbox-4:checked~#box>#Q10_grid-content-question{
    opacity: 1;
    animation: blur 5s 1;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes blur {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

#Q10_checkbox-1:checked~#box>#picture,
#Q10_checkbox-2:checked~#box>#picture,
#Q10_checkbox-3:checked~#box>#picture,
#Q10_checkbox-4:checked~#box>#picture {
    opacity: 0.7;
    height: 120px;
    animation: slide-up 5s 1;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        height: 120px;
        opacity: 0.7;
    }

    100% {
        height: 0;
        opacity: 0;
    }
}
#announce {
    width: 100%;
    margin: 100px 0 120px;
    color: #72a9ef;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    opacity: 0;
}

#Q10_checkbox-1:checked~#box>#announce,
#Q10_checkbox-2:checked~#box>#announce,
#Q10_checkbox-3:checked~#box>#announce,
#Q10_checkbox-4:checked~#box>#announce{
    width: 100%;
    margin: 100px 0 120px;
    color: #72a9ef;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    opacity: 0;
    animation: announce 2s 1;
    animation-delay: 7s;
    animation-fill-mode: forwards;
    z-index: 22;
}

@keyframes announce {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


h1,
h4 {
    margin: 25px;
}

.congrats {
    position: relative;
    top: -300px;
    opacity: 0;
}

#Q10_checkbox-1:checked~#box>#announce,
#Q10_checkbox-2:checked~#box>#announce,
#Q10_checkbox-3:checked~#box>#announce,
#Q10_checkbox-4:checked~#box>#announce{
    animation: congrat 2s 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
}

@keyframes congrat {
    0% {
        top: -300px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

.win {
    color: #2BDA8E;
}

#Q10_checkbox-1:checked~#box>#announce>#win,
#Q10_checkbox-2:checked~#box>#announce>#win,
#Q10_checkbox-3:checked~#box>#announce>#win,
#Q10_checkbox-4:checked~#box>#announce>#win{
    animation: winbeat 2s ease infinite;
    animation-delay: 13s;
}

@keyframes winbeat {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(.8);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.text {
    color: gray;
}
