
#Aboutpage_content{
    position: absolute;
    z-index: 49;
    width: 800px;
    height: 440px;
    border-radius: 40px;
    background-color:rgb(255, 255, 255, 0.5);
    opacity: 0;
}

#Aboutpage_introduction h4, span {
    color: #5CA0F2;
    font-weight: bold;
}

#Aboutpage_win {
    color: #3f7fcc;
    font-weight: bold;
}

#Aboutpage_reset {
    color: red;
    font-weight: bold;
}
#Aboutpage_logo {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Aboutpage_introduction {
    width: 60%;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Aboutpage_back {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border-radius: 50px;
    color: #fff;
    border: none;
    background: #72a9ef;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 #c0ccff, 0 6px 20px 0 #c0ccff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Aboutpage_back a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 50px;
}

#Aboutpage_back:hover{
    background-color: #3880df;
    color: white;
}
